* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
}

.fade{
   animation: fade 2s;
}

@keyframes fade {
   25% {
      opacity: 0;
   }

   100% {
      opacity: 1;
   }
}